<ion-view view-title="Signup" name="signup-view" ng-controller="SignupCtrl">
  <ion-header-bar>
    <a class="button icon-left ion-ios-arrow-back button-clear button-dark" ng-click="back()"> &nbsp;Retour</a>
    <h1 class="title">Inscription</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Identifiant" ng-model="credentials.username" />
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Mot de passe" ng-model="credentials.password"/>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirmer le mot de passe" ng-model="conf"/>
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="signup(conf)">
      S'inscrire
    </button>
  </ion-content>
</ion-view>
